# Ignore Visual Studiofiles
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
[o]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
.vs/
compilerconfig.json

CapitolGroup.VC.opendb

_ReSharper*/

*.sublime-workspace
_references.js

capitolgroup.sublime-project
capitolgroup.sublime-workspace

# Vim
*.swp
*~

.svn
log.log*

.sass-cache

Version.txt

uploads/
uploads/*

App_Data/uploads/
App_Data/uploads/*

App_Data/files/
App_Data/files/*


filedirecotry/
filedirecotry/*
App_Data/filedirecotry/
App_Data/filedirecotry/*

packages/
packages/*
oem-advantage/packages/
oem-advantage/packages/*
node_modules/
bower_components/
jspm_packages/
appsettings.dev.config
**/Setup/Setup/*

# ApprovalTests
*.received.*
appsettings-list.txt
*.test.results.xml

*.ncrunchproject
*.ncrunchsolution

npm-debug.log.*

*.ncrunchproject
*.ncrunchsolution
nCrunchTemp*
packages

*.sdf
/oem-advantage/Web/App_Data/filedirectory
*.nupkg
